
body {
    background: #FFFFFF;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

h2 {
    color:red;
}
p {
    font-size: medium;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.pformat {
    line-height: 1.8em;
    white-space: pre-line;
}
img {
    width: 850px;
    height: -webkit-fill-available;
    align-content: center;
    
}
#header {
    margin-left: 50px;
    margin-right: 37px;
    position: relative;
    text-align: left;
    width: 791px;
    z-index: 1;
}

#footer {
    color:#888;
    text-decoration: none;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    padding: 15px 0 5px;
}

#forestparkmainpage {
    margin: 0 auto;
    margin-left:50px !important;
    max-height: 100%;
    padding: 5px 0 10px;
    text-align: left;
    max-width: 900px;
    background: content-box;
    border: 0;
}

#forestparkdivbox {
    margin: 0 0 0 8px;
    padding: 5px 15px 0px 15px;
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color:red;
}






